/* Header For Desktop */
header {
  padding: 10px 0;
}
/* Header Design Start */
.menu-list {
  margin-top: 5px;
}

.menu-list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-list ul a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  line-height: 24px;
}

.logn-register {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 5px;
}

.login {
  background: transparent;
  font-family: "Inter", sans-serif;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.register {
  padding: 10px 25px;
  background: var(--primary-color);
  font-family: "Inter", sans-serif;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  border-radius: 50px;
}
/* Header Design End */
